/EVI.gdb/
/MSAVI.gdb/
/NDVI.gdb/
/NPP.gdb/
/NTR.gdb/
/PAs.gdb/
/Precipitation.gdb/
/Roads.gdb/
/Soils.gdb/
/Topography.gdb/
/Veg_cover.gdb/
/hydroBASINS.gdb/
/HabHet.gdb/
/GpMessages/
/GLW.gdb/
/GIRES.gdb/
/GHS.gdb/
/GHM.gdb/
/Fire.gdb/
/Ecoregions.gdb/
/Boundaries.gdb/
/api_input/
/agol-data-workflows.gdb/
/Administrative.gdb/
.Rproj.user
/renv/
/code/Python/*.log
/.Rprofile
/agol-data-workflows.aprx
/agol-data-workflows.atbx
/agol-data-workflows.Rproj
/setting up git.txt
/code/Python/non_standard_layer_processing/*.log
/GEDI.gdb/
/.Rhistory
/Climate.gdb/
/agol_credentials.py
code/R/.Rhistory
*.log
*.xml
agol_dirs.py
*.pyc
agol_dirs.py
