/EVI.gdb/
/MSAVI.gdb/
/NDVI.gdb/
/NPP.gdb/
/NTR.gdb/
/PAs.gdb/
/Precipitation.gdb/
/Roads.gdb/
/Soils.gdb/
/Topography.gdb/
/Veg_cover.gdb/
/hydroBASINS.gdb/
/HabHet.gdb/
/GpMessages/
/GLW.gdb/
/GIRES.gdb/
/GHS.gdb/
/GHM.gdb/
/Fire.gdb/
/Ecoregions.gdb/
/Boundaries.gdb/
/api_input/
/agol-data-workflows.gdb/
/Administrative.gdb/
.Rproj.user
/renv/
/code/Python/*.log
/.Rprofile
/agol-data-workflows.aprx
/agol-data-workflows.atbx
/agol-data-workflows.Rproj
/setting up git.txt
